<header>
  <div id="appHeader">
    <div class="logo" id="logo">Creative Life Skills Development </div>
    <div id="accountActions">
      <span>{{admin.firstName}} {{admin.lastName}}</span> <a href="/logout">logout</a>

    </div>
  </div>
</header>