<div id='loginWrap'>

  <section id="login">
    <div class='logo textCenter'>Creative Life Skills Development</div>
    <form action="/login" method="post" id="loginForm">
      <fieldset>
        <div class='center'>
        <p>
          <label for="username">Username:</label>
          <input type="text" name="user[username]" id="username" class='vert center'/><br/>
        </p>

        <p>
          <label for="password">Password:</label>
          <input type="password" name="user[password]" id="password" class='vert center' />
        </p>

        <p>
         <input type="submit" value="Log In"/>
        </p>
        </div>
      </fieldset>
    </form>
    <p class='note textCenter'>* Please login with your therapist or admin credentials</p>
  </section>
</div>