<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='../stylesheets/style.css'>
</head>


<body>
  {{#if noHeader}}
  <!-- blank -->
  {{else}}
  {{> header}}
  {{/if}}

  {{{body}}}
  <footer></footer>
  <script src="/javascripts/clients.js" type="text/javascript"></script>
</body>
</html>